<div class="fightContainer">
  <mat-card class="fightBox">
    <div class="firstPokemonContainer">
      <img
        [@attackFirst]="isFirstPokeAttacking ? 'attacking' : 'notAttacking'"
        [src]="selectedPokemons$.firstPokemon.backImageUrl"
        class="firstPokeImage"
      />
      <h1 *ngIf="isDamageVisible.second" class="secondDamage">
        {{ damageNumbers.first }}
      </h1>

      <div class="firstPokeHealthBar">
        <mat-progress-bar
          mode="determinate"
          [value]="currentHp.firstPokemon"
          [color]="currentHp.firstPokemon > 30 ? 'primary' : 'warn'"
        ></mat-progress-bar>
      </div>
    </div>
    <div class="secondPokemonContainer">
      <img
        [@attackSecond]="isSecondPokeAttacking ? 'attacking' : 'notAttacking'"
        [src]="selectedPokemons$.secondPokemon.imageUrl"
        class="secondPokeImage"
      />
      <h1 *ngIf="isDamageVisible.first" class="firstDamage">
        {{ damageNumbers.second }}
      </h1>
      <div class="secondPokeHealthBar">
        <mat-progress-bar
          mode="determinate"
          [value]="currentHp.secondPokemon"
          [color]="currentHp.secondPokemon > 30 ? 'primary' : 'warn'"
        ></mat-progress-bar>
      </div>
    </div>
  </mat-card>
</div>
<button (click)="attackFirst()">first</button>
<button (click)="attackSecond()">second</button>
