@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@font-face {
    font-family: Poke;
    src: url(assets/fonts/Pokemon.ttf) format("TrueType");
}

 * {
     font-family: 'Poke';
 }

.landingContainer {
    display:flex;
    justify-content: center;
}

.landingCard{
    max-width: 400px;
    padding: 1rem;
}

.fightContainer{
    display: flex;
    justify-content: center;

    .fightBox{
        width: 400px;
        height: 400px;
    }

    img{
        width: 160px;
        position: absolute;
    }
}


@mixin health-bar {
    position: absolute;
    width: 40%;
}

.firstPokeHealthBar{
    @include health-bar();
    bottom:30px;
    right:10px;
    
}

.secondPokeHealthBar{
    @include health-bar();
    top:30px;
    left:10px;
}

.firstDamage{
    position: absolute;
    left: 60px;
    bottom:0px
}
.secondDamage{
    position: absolute;
    right: 60px;
    top: 100px;
}